<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<bean class="com.dyashin.springpractice.DEveloper" id="dev">
		<property name="laptop" ref="lap"></property> <!-- setter injection -->
		<constructor-arg ref="lap"></constructor-arg> <!-- Constructor injection -->
	</bean>

	<bean class="com.dyashin.springpractice.Laptop" id="lap"></bean>
	
	<bean class="com.dyashin.springpractice.confuguratation.xml.UserService" id="user">
		<property name="repo" ref="repository"></property>
	</bean>
	
	<bean class="com.dyashin.springpractice.confuguratation.xml.UserRepository" id="repository"></bean>

</beans>
